In [4]:
tup= ('cse','it','mech')
print(tup)
tup1=(1,23,4,5,5,6)
print(tup1)
tup2="abc","def"
print(tup2)

('cse', 'it', 'mech')
(1, 23, 4, 5, 5, 6)
('abc', 'def')

In [5]:
tup1 = ()
print(tup1)

()

In [6]:
tup1 = (24)
print(tup1)

24

In [8]:
tup= ('cse','it','mech','ece','electrical')
print(tup[0])
print(tup[2])
print(tup[2:5])

cse
mech
('mech', 'ece', 'electrical')

In [10]:
tup1= ('cse','it','mech','ece','electrical')
print(tup1)

del(tup1)
print(tup1)

('cse', 'it', 'mech', 'ece', 'electrical')

NameError: name 'tup1' is not defined

In [1]:
tup1= ('cse','it','mech','ece','electrical')
print(tup1)
tup2= ('pavan','jay','cindy')
print(tup2)


tup3=tup1+tup2
print(tup3)

('cse', 'it', 'mech', 'ece', 'electrical')
('pavan', 'jay', 'cindy')
('cse', 'it', 'mech', 'ece', 'electrical', 'pavan', 'jay', 'cindy')

In [2]:
tup1= ('cse','it','mech','ece','electrical')
print(tup1)

print("value at 3rd loc= ",tup1[3])

tup1[3]="Piyush" #not allowed
print("UPDATED value at 3rd loc= ",tup1[3])

('cse', 'it', 'mech', 'ece', 'electrical')
value at 3rd loc=  ece

TypeError: 'tuple' object does not support item assignment

In [2]:
tup1= ('cse','it','mech','ece','electrical')
print(tup1)
tup2= ('pavan','jay','cindy')
print(tup2)
a=len(tup1)
b=len(tup2)
print(a)
print(b)

print(len(tup1))

('cse', 'it', 'mech', 'ece', 'electrical')
('pavan', 'jay', 'cindy')
5
3
5

In [3]:
tup1= ('cse','it','mech','ece','electrical')
print(tup1)
tup2= ('pavan','jay','cindy')
print(tup2)


print(max(tup1))

('cse', 'it', 'mech', 'ece', 'electrical')
('pavan', 'jay', 'cindy')
mech